:root {
    --color-theme:           rgb(255,199,54);
    --color-theme-highlight: rgb(255,220,100);
    --color-theme-shade:     #c39200;
    --color-font:            rgb(120, 120, 120);
    --color-background:      rgb(245, 245, 245);
    --color-background-light: rgba(250, 250, 250, 0.8);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    #display: flex;
    #flex-wrap: nowrap;
    align-content: center;
}


canvas{
    width: 50px;
    height:50px ;
    border-radius: 50%;
    position: relative;
    animation-direction: right;
    animation-timing-function: linear;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-duration: 0s;
    animation-name: example;
    animation-iteration-count: infinite;
    background-color:  rgb(255,220,100);
}

@keyframes example {
    0%   {left: -35%; top:  0%; background-color: rgb(245, 245, 245);}
    15%  {left:   0%; top: 70%; background-color:  rgb(255,220,100)}
    30%  {left:  35%; top:  0%; background-color: rgb(245, 245, 245);}
    100% {left: -35%; top:  0%;}
}

  
h1 {
    text-align:center;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-font);
  }
  
main {
    font-weight: 200;
    align-content: center;
   }

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    color: var(--color-font);
    background-color: rgb(245, 245, 245);
    border: none;
    justify-content: center;
    width: 100%;
    text-align: center;
}			 

.grid-container {
   display: grid;
   grid-gap: 10px;
   #grid-template-columns: 95%;
   #padding: 1%;

   #sentrering som virker!!!
   justify-content: center;
   margin-left: Auto;
   margin-right: Auto;
   max-width: 400px;
   
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
 #   flex-wrap: wrap;
    background-color: rgba(250, 250, 250, 0.8);
    border: 1.3px solid rgba(150, 150, 150, 0.8);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 5px rgba(200, 200, 200, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.3);
    box-shadow:         inset 0 0 5px rgba(200, 200, 200, 0.3);
}

.grid-item-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

/*
input {
    width: 60%;
}
*/

.input-label {
    width: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.input-range {
    width: 15%;
    text-align: right;
}

.input-button {
    width: 10%;
    min-width: 50px;
    background-color: var(--color-background-light);
    color: var(--color-font);
    border-radius: 10px;
    border: none;
    height: 100%;
    min-height: 40px;
}

.input-float {
    width: 15%;
    text-align: right;
    background-color: none;
}

input[type="number"] {
    align-items: center;
    padding: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-font);
    background-color: var(--color-background-light);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::selection {
  background: var(--color-theme-highlight); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-theme-highlight); /* Gecko Browsers */
}


input[type='number'] {
    -moz-appearance:textfield;
}



input[type='number']:focus {
    outline: 0px solid var(--color-theme);
    background: var(--color-background-light);
    border-bottom: 2px solid var(--color-theme);
}

/*
label {
    width: 20%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*
output {
    width: 20%;
    text-align: right;
}
*/
canvas {
    widht: 100%;
    background-color: rgb(245, 245, 245);
}

.inputBox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15pt;
    background-color: rgba(250, 250, 250, 0.8);
    border: none;
    height: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#progress {
width: 100%;
#background-color: rgb(250, 250, 250);
}

#bar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40pt;
    font-weight: 400;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: rgb(130, 130, 130);
    border-radius: 10px;
}


/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
    -webkit-appearance: none;			    
}

input[type=range]:focus {
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;		
  border: 1px solid rgb(110,100,100, 0.5);
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: var(--color-theme);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--color-theme-shade), 0px 0px 1px var(--color-theme-shade);
  margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(235,235,235);
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    #box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgb(245,245,245);
    border-radius: 10px;
    border: 1px solid rgb(235,235,235);
}


input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #c39200, 0px 0px 1px #c39200;
  border: 1px solid rgb(110,100,100, 0.5);
  #height: 36px;
  #width: 16px;
  #border-radius: 3px;
  background: var(--color-theme);
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  #box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(245,245,245);
  border-radius: 10px;
  border: 1px solid rgb(235,235,235);
}


input[type=range]:-moz-focusring{
    outline: 1px solid rgb(235,235,235);
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: rgb(235,235,235);
}

input[type=range]:focus::-moz-range-progress {
    background: var(--color-theme-highlight);
}

input[type="range"]:focus::-ms-fill-lower {
  background-color: var(--color-theme-highlight); 
}

input[type=-'range']:focus::-webkit-progress-value {
  background-color: var(--color-theme-highlight);
}


.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-background-light);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-theme);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme-shade);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.slider::after {
  position:relative;
  right:-55px;
  color: var(--color-font);
  content: "Tachometer"
}
